<div class="news">
  <mat-toolbar color="primary" class="news__header">
    <button mat-icon-button class="news__header--menu-button" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span routerLink="/">City FakeNews</span>
    <span class="example-spacer" routerLink="/create">Got a tip?</span>
    <mat-form-field class="example-full-width" appearance="outline">
      <input type="text"
             placeholder="Pick one"
             aria-label="Number"
             matInput
             [formControl]="searchCtrl"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let element of filteredNews | async" [value]="element.title" [routerLink]="'/' + element.id">
          {{ element.title }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button mat-icon-button class="news__header--search-mobile" aria-label="Example icon-button with share icon">
      <mat-icon>search</mat-icon>
    </button>
  </mat-toolbar>
  <div class="news__content">
    <router-outlet></router-outlet>
  </div>
</div>